body {
  background-color: rgba(229, 230, 231, 0.478);
}

.cart {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.headerContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  justify-items: center;
  justify-items: center;
  background-color: rgb(50, 50, 205);
  width: 100%;
  height: 3rem;
  padding-right: 5rem;
  padding-left: 5rem;
}

.titleCart {
  max-height: 3rem;
  font-size: 1.5rem;
  max-height: 4rem;
  font-weight: bold;
  color: white;
}

.btnHome {
  display: flex;
  flex-direction: row;
  width: 10rem;
  height: 2.3rem;
  justify-content: center;
  justify-items: center;
  gap: 0.8rem;
}

.containerCardsProduct {
  margin: 5rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1rem;
}

.cardProduct {
  width: 27em;
  height: 20rem;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  border-radius: 0.5rem;
  background-color: white;
  gap: 0.2rem;
}
