.containerPage {
  display: flex;
  flex-direction: row;
}

.categories {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  background-color: rgba(229, 230, 231, 0.478);
  padding: 1.4rem;
  min-width: 17rem;
  max-width: 17rem;
}

.containerSearch {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  gap: 2rem;
}

.containerInput {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  align-items: center;
  align-content: center;
  min-width: 25rem;
  max-width: 25rem;
}

.productsLIst {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1rem;
  margin: 1rem;
  padding: 2rem;
  justify-content: center;
}
