.productsList {
  gap: 20rem;
}

.containerProduct {
  width: 27em;
  height: 28.5rem;
  background-color: aqua;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  border-radius: 0.5rem;
  background-color: rgba(229, 230, 231, 0.478);
  gap: 1rem;
}

.imgProduct {
  width: 10rem;
  height: 10rem;
}

.titleProduct {
  max-height: 3rem;
  font-size: 1.3rem;
  max-height: 4rem;
}

.valueProduct {
  font-weight: bold;
  font-size: 1.4rem;
  max-height: 1rem;
}

.linkMoreDetails {
  text-decoration: none;
  color: black;
}
